/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
stuff.txt
/src/Acme
error.log
/src/Prodtrack/ClientBundle/Resources/public/vendor/
web/css/*
web/js/*
web/bundles/*
help/*
